.root {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ffffff 5%, #4498DB 100%);
    flex-direction: column;
}

.titulo {
    font-size: 2rem;
    margin-bottom: 20px;
    color: rgb(26, 26, 47);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formulario {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 20px 20px 10px 20px;
    border-radius: 8px;
}

.campo {
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.campoBloqueado {
    background-color: var(--cinza-claro1);
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.botao {
    background-color: rgb(0, 19, 37);
    color: #ffffff;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--azul-claro);
    margin-bottom: 10px;
}

.mensagem {
    color: rgb(92, 43, 43);
    margin-bottom: 10px;
    font-size: .75rem;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.dataCriacaoConteiner {
    margin-bottom: 20px;
}

.dataCriacao {
    color: var(--azul-claro);
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: .9rem;
}
