.conteiner {
    background-color: var(--cinza-escuro2);
    display: flex;
    text-align: center;
    width: 200px;
    min-height: 250px;
    margin: 10px; 
    border-radius: 10px;
    overflow: hidden;
    transition: transform .3s;
}

.conteiner:hover {
    transform: scale(1.025);
    box-shadow: 0px 0px 10px var(--azul-claro);
}

