.section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  background: linear-gradient(to bottom, #6f9ce6, #5b7fba);
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.description {
  color: #323232;
  line-height: 1.625;
  background-color: #ffffffcb;
  border-radius: 10px;
  padding: 30px;
}

.list {
  margin-top: 1rem;
  list-style: disc;
  padding-left: 1.25rem;
  color: #ffffff;
}

.listItem {
  margin: 0.5rem 0;
  font-weight: 700;
}
