.section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
  background: linear-gradient(to bottom, #5a7fba, #3b5580);

}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.description {
  color: #323232;
  line-height: 1.625;
  background-color: #ffffffcb;
  border-radius: 10px;
  padding: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 1.5rem;
}

.card {
  background-color: rgba(18, 4, 4, 0.237);
  padding: 1rem;
  border-radius: 0.375rem;
  transition: all 0.3s;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.7);
  transform: translateY(-2px);
  color: #323232;
  .cardText {
    color: #323232;
  }
  .cardTitle {
    color: #000000;
  }
}

.cardTitle {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.cardText {
  color: #cbd5e1;
  font-size: 1rem;
}


@media (max-width: 640px) {
  grid {
    grid-template-columns: 1fr;
  }
}